/****items****/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  width: 100%
}

h1 {
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  padding-bottom: 30px;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #c4d9ed;
  border-width: 5px;
  width: 5%;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}
a:hover {
  color: #c4d9ed;
}
/****containers****/
.blue-band {
  border-color: #6a88aa;
  background-color: #6a88aa;
  border-style: solid;
  width: 100%;
  margin: 0 auto;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 170px;
  line-height: .5;
  margin-bottom: 0;
  padding-bottom: 0;
}

.middle-container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.bottom-container {
  background-color: #6a88aa;
  padding: 20px 0 20px;
}

.profile {
  width: 50%;
  margin: 0 auto 50px auto;
}

.contact-me {
  padding-bottom: 20px;
}

/****Text****/
.pro {
  text-decoration: underline;
  color: #66BFBF;
}

.programmer {
  font-weight: normal;
  font-size: 1rem;
}

.skill-row {
  width: 50%;
  margin: 50px auto 80px;
  text-align: left;
  line-height: 1.5;
}

.copyright {
  color: white;
  font-size: .5rem;
}

/****Imagess****/
.pink-circle {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}

.yellow-circle {
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.workplace-photo {
  height: 400px;
  width: 400px;
}

.profile-pic {
  border-radius: 100%;
  width: 17%;
  height: 17%;
}

/****Links****/
.btn {
  background-color: #66BFBF;
  border-radius: 10%;
  padding: 6px 16px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.btn:hover {
  color: white;
}
.footer-link {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: .75rem;
  text-decoration: none;
}
